<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: auto;
        }
        input, button {
            margin-bottom: 1rem;
        }
    </style>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>
    <h1>Health Prediction</h1>
    <form id="health-form" action= "{{ url_for('res') }}" onsubmit="return validateForm()">
        <input type="number" name="step_count" placeholder="Step count" required>
        <input type="number" name="calories_burnt" placeholder="Calories burnt" required>
        <input type="number" name="hours_of_sleep" placeholder="Hours of sleep" required>
        <input type="number" name="Weight" placeholder="Weight (in kg)" step="0.01" required>
        <input type="number" name="Height" placeholder="Height (in cm)" step="0.01" required>
        <input type="number" name="calories" placeholder="Calories" required>
        <button class="custom-btn btn-1" type="submit"><span>Submit</span></button>

    </form>
</body>
</html>