<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Prediction Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='res.css') }}">
  </head>
  <body>
    <h1>Prediction Results</h1>
    <div id="result-container">
      {% if results %}
        <p>Predicted Class: {{ results.class }}</p>
        <p>Score: {{ results.score }}</p>
      {% else %}
        <p>There was an error with your request. Please try again.</p>
      {% endif %}
    </div>
    <button onclick="location.href='/'">Go Back</button>
  </body>
</html>
