<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Prediction Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/res.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Prediction Results</h1>
      <div id="result-container" class="result">
        {% if results %}
          <p class="success">Predicted Class: {{ results[0] }}</p>

        {% else %}
          <p class="error">There was an error with your request. Please try again.</p>
        {% endif %}
      </div>
      <div class="plan-container">
        <h2>Plan</h2>
        <p>{{ plan | safe }}</p>
      </div>
      <br>
      <button class="btn" onclick="location.href='/'">Go Back</button>
    </div>
  </body>
</html>